#############################################
# PASSWORD LENGTH
#############################################

PASSWORD_MIN_LENGTH=8
PASSWORD_MAX_LENGTH=64

#############################################
# REQUIRED CHARACTER TYPES
#############################################

PASSWORD_REQUIRE_UPPERCASE=true
PASSWORD_REQUIRE_LOWERCASE=true
PASSWORD_REQUIRE_DIGIT=true
PASSWORD_REQUIRE_SPECIAL=true

#############################################
# MINIMUM COUNTS
#############################################

PASSWORD_MIN_UPPERCASE=1
PASSWORD_MIN_LOWERCASE=1
PASSWORD_MIN_DIGITS=1
PASSWORD_MIN_SPECIAL=1

#############################################
# SPECIAL CHARACTERS
#############################################

PASSWORD_ALLOWED_SPECIAL=!@#$%^&*()_+-=[]{}|;:,.<>?

#############################################
# WHITESPACE
#############################################

PASSWORD_ALLOW_SPACES=false

#############################################
# REPEATED CHARACTERS
#############################################

PASSWORD_MAX_REPEAT=2

#############################################
# SEQUENTIAL CHARACTERS
#############################################

PASSWORD_CHECK_SEQUENTIAL=true

#############################################
# BLACKLIST
#############################################

PASSWORD_CHECK_COMMON=true

#############################################
# DICTIONARY
#############################################

PASSWORD_CHECK_DICTIONARY=true

#############################################
# CUSTOM REGEX
#############################################

PASSWORD_CUSTOM_REGEX=

#############################################
# ENTROPY
#############################################

PASSWORD_MIN_ENTROPY=40

#############################################
# ERROR LANGUAGE
#############################################

PASSWORD_LANGUAGE=en